<section id="content" class="clearfix">
	<div id="personal-needs">
		<div class="box dark-purple third">
			<h3>Personal needs</h3>
		</div>
		<div class="box third gray">
			<p>uTransfer Europe serves the students comfort, hence we take care all the necessary issues what students might think bothering. We help in new SIM card purchase and its documentation, we make sure that the Internet provider gives the best option to students and here we do translation as well, with our contacts we help students to get a bank account without suffering from the administration, due to the Hungarian system utilities are paid in Post offices or online, we provide help in both.</p>
		</div>
		<div class="box third gray">
			<p>uTransfer Europe serves the students comfort, hence we take care all the necessary issues what students might think bothering. We help in new SIM card purchase and its documentation, we make sure that the Internet provider gives the best option to students and here we do translation as well, with our contacts we help students to get a bank account without suffering from the administration, due to the Hungarian system utilities are paid in Post offices or online, we provide help in both.</p>
		</div>
	</div>
	<div id="personalized-brochure">
		<div class="box dark-purple third">
			<h3>Personalized brochure</h3>
		</div>
		<div class="box gray third">
			<p>uTransfer Europe’s most unique service is the personalized brochure. We create a brochure according to the student apartment and university location. We indicate where he/she could find the best pubs, restaurants, clubs, groceries, how to get to these places. Indicate all the sightseeing spots in the city, creating maps for them to get to the indicated locations. All the important facts and details are written down in this brochure such as: best taxi company to use, public transportation fare prices. Basically everything what a student might need.</p>
		</div>
		<div class="box gray third">
			<p>uTransfer Europe’s most unique service is the personalized brochure. We create a brochure according to the student apartment and university location. We indicate where he/she could find the best pubs, restaurants, clubs, groceries, how to get to these places. Indicate all the sightseeing spots in the city, creating maps for them to get to the indicated locations. All the important facts and details are written down in this brochure such as: best taxi company to use, public transportation fare prices. Basically everything what a student might need.</p>
		</div>
	</div>
	<div id="visa-procedure">
		<div class="box dark-purple third">
			<h3>Visa procedure</h3>
		</div>
		<div class="box gray third">
			<p>uTransfer Europe helps students to be able to receive the visa needed for studying in Hungary, we provide you all the necessary information and some extra hints how to make sure to get the visa. We provide a unique service by having an authorization letter written by the student, which entitles us to act on behalf of the student if any sort of problem occurs during the procedure. We can solve the problems as long as the problem is from Hungarian point of view such as: University like problems, proof of accommodation. The reason why this is helpful is because the student does not have to go back to the Embassy a lot of times, just for submitting documents and students do not have to wait until he/she gets the official papers from Hungary again. Please note that problems fall out of our scope have to be solved by the student.</p>
		</div>
		<div class="box gray third">
			<p>uTransfer Europe helps students to be able to receive the visa needed for studying in Hungary, we provide you all the necessary information and some extra hints how to make sure to get the visa. We provide a unique service by having an authorization letter written by the student, which entitles us to act on behalf of the student if any sort of problem occurs during the procedure. We can solve the problems as long as the problem is from Hungarian point of view such as: University like problems, proof of accommodation. The reason why this is helpful is because the student does not have to go back to the Embassy a lot of times, just for submitting documents and students do not have to wait until he/she gets the official papers from Hungary again. Please note that problems fall out of our scope have to be solved by the student.</p>
		</div>
	</div>
	<div id="local-community">
		<div class="box dark-purple third">
			<h3>Local community</h3>
		</div>
		<div class="box gray third">
			<p>Free account to a community site, where all the students came to Hungary with the help of uTransfer Europe are present. Up to date news about everything what is happening in the city such as: parties, exhibitions, concerts, sport events museums, theatre plays, movies etc. Moreover student will receive information about their school as well, registration time, exam period, subject registration, public announcements etc will be disclosed on the site. The website has all the features what Facebook has, wall, sharing , messages are all available functions on the site.</p>
		</div>
		<div class="box gray third">
			<p>Free account to a community site, where all the students came to Hungary with the help of uTransfer Europe are present. Up to date news about everything what is happening in the city such as: parties, exhibitions, concerts, sport events museums, theatre plays, movies etc. Moreover student will receive information about their school as well, registration time, exam period, subject registration, public announcements etc will be disclosed on the site. The website has all the features what Facebook has, wall, sharing , messages are all available functions on the site.</p>
		</div>
	</div>
</section>