<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Additional information</h1>
    <p>Name: <strong><%= @contact.first_name + " " + @contact.last_name %></strong></p>
  </body>
</html>