<section id="content" class="clearfix">
	<div class="twothird-wrap">
		<div class="box two-third white" id="hungary-intro">
			<h3>Hungary, the land of oppurtunities</h3>
			<p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. </p>
			<p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin.</p>			
		</div>
		<div class="third box gray">
			<h4>Basic information</h4>
			<ul>
				<li>Language is hungarian</li>
				<li>Currency is Forint</li>
				<li>Government debt is ultra-hight</li>
				<li>Population is unhappy</li>
			</ul>
		</div>
		<div class="third box dark-purple">
			<h4>Peace in the valley</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin.</p>
		</div>
	</div>
	<div class="box third" id="photo">
		<%= image_tag "testimonials/olga/olga-full.png", :title => "Olga from Ukraine" %>
	</div>
	<div class="box third dark-green">
		<h3>Why study here?</h3>
	</div>
	<div class="box twothird light-green">
		<p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin.</p>
		<p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin.</p>
	</div>
	<div class="box third dark-green">
		<h3>Mit ér egy magyar diploma?</h3>
	</div>
	<div class="box twothird light-green">
		<p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin.</p>
		<p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin.</p>
	</div>
	
	<table width="100%" class="green">
		<thead>
			<tr>
				<th class="big">Living cost estimates</th>
				<th>New York</th>
				<th>Paris</th>
				<th>Budapest</th>
				<th class="last">Milan</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="head">First criteria <a href="#" title="Ide jön a magyarázat" class="info">?</a></td>
				<td>220.35 $ / sem.</td>
				<td>220.35 $ / sem.</td>
				<td>220.35 $ / sem.</td>
				<td class="last">220.35 $ / sem.</td>			
			</tr>
			<tr>
				<td class="head">Second criteria</td>
				<td>220.35 $ / sem.</td>
				<td>220.35 $ / sem.</td>
				<td>220.35 $ / sem.</td>
				<td class="last">220.35 $ / sem.</td>			
			</tr>
			<tr>
				<td class="head">Third criteria</td>
				<td>220.35 $ / sem.</td>
				<td>220.35 $ / sem.</td>
				<td>220.35 $ / sem.</td>
				<td class="last">220.35 $ / sem.</td>			
			</tr>
			<tr>
				<td class="head">Fourth criteria</td>
				<td>220.35 $ / sem.</td>
				<td>220.35 $ / sem.</td>
				<td>220.35 $ / sem.</td>
				<td class="last">220.35 $ / sem.</td>			
			</tr>
		</tbody>
	</table>
	<div class="box dark-purple third">
		<h3>Sights</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor.</p>
	</div>
	<div class="box third video">
		<img src="http://www.placekitten.com/305/305" alt="" />
	</div>
	<div class="box third image-quad">
		<a title="Cica1" rel="group-1" class="fancybox one" href="http://www.vadallatok.hu/hatterkepek/cica/cica_cat040.jpg"><img src="http://www.placekitten.com/150/150" alt="Cica 1" /></a>
		<a rel="group-1" class="fancybox two" href="http://www.vadallatok.hu/hatterkepek/cica/cica_cat040.jpg"><img src="http://www.placekitten.com/150/150" alt="Cica 2" /></a>
		<a rel="group-1" class="fancybox three" href="http://www.vadallatok.hu/hatterkepek/cica/cica_cat040.jpg"><img src="http://www.placekitten.com/150/150" alt="Cica 3" /></a>
		<a rel="group-1" class="fancybox four" href="http://www.vadallatok.hu/hatterkepek/cica/cica_cat040.jpg"><img src="http://www.placekitten.com/150/150" alt="Cica 4" /></a>		
	</div>
	<div class="box third dark-green">
		<h3>History</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ac libero eu massa sollicitudin mattis porta sollicitudin turpis. Vivamus elementum nisl non neque gravida ultricies. Cras dapibus tempor neque a scelerisque. Sed vulputate, risus eget.</p>
	</div>
	<div class="box third gray">
		<h4>Old era</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ac libero eu massa sollicitudin mattis porta sollicitudin turpis. Vivamus elementum nisl non neque gravida ultricies. Cras dapibus tempor neque a scelerisque. Sed vulputate, risus eget.</p>
	</div>
	<div class="box third gray">
		<h4>New era</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras ac libero eu massa sollicitudin mattis porta sollicitudin turpis. Vivamus elementum nisl non neque gravida ultricies. Cras dapibus tempor neque a scelerisque. Sed vulputate, risus eget.</p>
	</div>
	<h3 class="green">Gastronomy</h3>
	<div class="third-wrap">
		<div class="box light-green third">
			<h4>Must try dishes</h4>
			<h5>Yummy</h5>
			<ul>
				<li>Túrórudi</li>
				<li>Kifli</li>
				<li>Kefír</li>
			</ul>
		</div>
		<img class="one" src="http://www.placekitten.com/150/150" alt="" />
		<img class="two" src="http://www.placekitten.com/150/150" alt="" />
	</div>
	<div class="third-wrap">
		<div class="box light-green third">
			<h4>Must try dishes</h4>
			<h5>Yummy</h5>
			<ul>
				<li>Túrórudi</li>
				<li>Kifli</li>
				<li>Kefír</li>
			</ul>
		</div>
		<img class="one" src="http://www.placekitten.com/150/150" alt="" />
		<img class="two" src="http://www.placekitten.com/150/150" alt="" />
	</div>
	<div class="third-wrap">
		<div class="box light-green third">
			<h4>Must try dishes</h4>
			<h5>Yummy</h5>
			<ul>
				<li>Túrórudi</li>
				<li>Kifli</li>
				<li>Kefír</li>
			</ul>
		</div>
		<img class="one" src="http://www.placekitten.com/150/150" alt="" />
		<img class="two" src="http://www.placekitten.com/150/150" alt="" />
	</div>
	<div class="clearfix">
		<h3 class="purple">nightlife &amp; festivals <span>small caps</span></h3>
		<div id="festival-slider">
			<ul>
				<li>
					<div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. Pellentesque habitant morbi </div>
					<img src="http://placekitten.com/g/935/300" alt="" />
				</li>
				<li>
					<img src="http://placekitten.com/g/935/300" alt="" />
				</li>
			</ul>
		</div>
	</div>
	<div class="box third dark-green">
		<h3>Activities</h3>
	</div>
	<div class="box third light-green">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. </p>
	</div>
	<div class="box third image-quad">
		<img class="one" src="http://www.placekitten.com/150/150" alt="" />
		<img class="two" src="http://www.placekitten.com/150/150" alt="" />
		<img class="three" src="http://www.placekitten.com/150/150" alt="" />
		<img class="four" src="http://www.placekitten.com/150/150" alt="" />
	</div>
	<div class="box third dark-green">
		<h3>Transportation</h3>
	</div>
	<div class="box third light-green">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. </p>
	</div>
	<div class="box third image-quad">
		<img class="one" src="http://www.placekitten.com/150/150" alt="" />
		<img class="two" src="http://www.placekitten.com/150/150" alt="" />
		<img class="three" src="http://www.placekitten.com/150/150" alt="" />
		<img class="four" src="http://www.placekitten.com/150/150" alt="" />
	</div>
	<div id="famous-hungarians" class="box full dark-purple">
		<h3>Famous hungarians</h3>
		<div class="hungarian">
			<h4>Pap Norbert</h4>
			<p>Lorem ipsum dolor sit amet.</p>
		</div>
		<div class="hungarian">
			<h4>Pap Norbert</h4>
			<p>Lorem ipsum dolor sit amet.</p>
		</div>
		<div class="hungarian">
			<h4>Pap Norbert</h4>
			<p>Lorem ipsum dolor sit amet.</p>
		</div>
	</div>
	<h3 class="purple">Hungaricums</h3>
	<div id="hungaricums">
		<div class="hungaricum">
			<h5>Kolbász</h5>
			<img src="http://www.placekitten.com/g/150/150" alt="Ukraine U" />
		</div>
		<div class="hungaricum">
			<h5>Kolbász</h5>
			<img src="http://www.placekitten.com/g/150/150" alt="Ukraine U" />
		</div>
		<div class="hungaricum">
			<h5>Kolbász</h5>
			<img src="http://www.placekitten.com/g/150/150" alt="Ukraine U" />
		</div>
		<div class="hungaricum">
			<h5>Kolbász</h5>
			<img src="http://www.placekitten.com/g/150/150" alt="Ukraine U" />
		</div>
		<div class="hungaricum">
			<h5>Kolbász</h5>
			<img src="http://www.placekitten.com/g/150/150" alt="Ukraine U" />
		</div>
	</div>
</section>