<section id="content" class="clearfix">
	<div id="form-side" class="box dark-purple third">
		<h3>Application form</h3>
		<p>Please fill in this form so that we can give you a presonalized offer.</p>
	</div>
	<div class="box gray twothird" id="form-wrap">
		<form id="offer-form" action="#">
			<h4>Personal data</h4>

			<fieldset>
				<div class="half">
					<label for="firstname">First name</label> <input autofocus type="text" name="firstname" id="firstname" class="required" />
				</div>
				<div class="half">
					<label for="lastname">Last name</label> <input type="text" name="lastname" id="lastname" class="required" />
				</div>
			</fieldset>
			<fieldset id="gender" class="radio">
				<legend>Gender</legend>
				<div>
					<label for="male">Male</label><input checked type="radio" name="gender" id="male" />
					<label for="female">Female</label><input type="radio" name="gender" id="female" />
				</div>
			</fieldset>
			<filedset>
				<label for="personals_country_id">Citizenship</label>
				<%= select("personals", "country_id", Country.all.collect {|u| [ u.name, u.id ] }, {:prompt => 'Select Country'}) %>
			</filedset>
			<fieldset>
				<label for="age">How old are you?</label>
				<input type="number" name="age" id="age" value="18" class="required" />
			</fieldset>
			<fieldset id="tel">
				<legend>Phone number</legend>
				<div>
					<div class="half">
						<label for="phone-country">Country code</label>
						<input type="text" name="phone-country" id="phone-country" class="" />
					</div>
					<div class="half">
						<label for="phone-number">Phone no.</label>
						<input type="tel" name="phone-number" id="phone-number" class="" />
					</div>
				</div>
			</fieldset>
			<fieldset>
				<label for="email">Email address</label>
				<input type="email" name="email" id="email" class="required email" />
			</fieldset>
			<h4>Interests</h4>
			<fieldset id="type" class="radio">
				<legend>What form of education are you applying for?</legend>
				<div>
					<div class="half">
						<label for="bsc">BSc / BA</label><input type="radio" name="type" id="bsc" checked />
					</div>
					<div class="half">
						<label for="msc">MSc / MA</label><input type="radio" name="type" id="msc" />
					</div>
					<div class="half">
						<label for="phd">PhD</label><input type="radio" name="type" id="phd" />
					</div>
					<div class="half">
						<label for="pre-school">Pre-school / Non-degree</label><input type="radio" name="type" id="pre-school" />
					</div>
				</div>
			</fieldset>
			<fieldset id="uni" class="radio">
				<legend>Did you find an interesting university in our <a href="/university">list</a>?</legend>
				<div>
					<div class="half">
						<label for="yes-uni">Yes</label><input type="radio" name="uni" id="yes-uni" class="" />
					</div>
					<div class="half">
						<label for="no-uni">No</label><input type="radio" name="uni" id="no-uni" class="" />
					</div>
				</div>
			</fieldset>
			<div class="uni-yes">
				<fieldset id="exact-uni" class="selects">
					<legend>Where would you like to apply?</legend>
					<div>
						<div class="">
							<label for="personals_university_id">University</label>
								<%= select("personals", "university_id", University.all.collect {|u| [ u.name, u.id ] }, {:prompt => 'Select University'}) %>
						</div>
						<div class="">
							<label for="major">Major</label>
							<select name="major" id="major">

							</select>
						</div>
					</div>
				</fieldset>
			</div>
			<div class="uni-no">
				<fieldset id="interests" class="radio">
					<legend>Please select which applies to you</legend>
					<div>
						<div class="half">
							<label for="economy">I'm intrested in econimics <input type="checkbox" name="economy" id="economy" /></label>
						</div>
						<div class="half">
							<label for="arts">I'm intrested in arts <input type="checkbox" name="arts" id="arts" /></label>
						</div>
						<div class="half">
							<label for="tourism">I'm interested in tourism <input type="checkbox" name="tourism" id="tourism" /></label>
						</div>
						<div class="half">
							<label for="music">I'm interested in music <input type="checkbox" name="music" id="music" /></label>
						</div>
						<div class="half">
							<label for="engineering">I'm interested in engineering <input type="checkbox" name="engineering" id="engineering" /></label>
						</div>
						<div class="half">
							<label for="it">I'm interested in IT <input type="checkbox" name="it" id="it" /></label>
						</div>
						<div class="half">
							<label for="business">I'm interested in business <input type="checkbox" name="business" id="business" /></label>
						</div>
					</div>
				</fieldset>
				<fieldset>
					<label for="else">Anything else?</label>
					<textarea name="else" id="" cols="60" rows="10"></textarea>
				</fieldset>
			</div>
			<div class="submit">
				<%= submit_tag "Send", :id => "submit", :name => "submit", :disabled => false, :disable_with => "Sending..." %>
			</div>
		</form>
	</div>
	<div id="additional" class="box twothird light-green">
		<h3>Thank you!</h3>
		<h4>We'll get in touch shortly. Until then we'd greatly appriciate if you'd fill out the form below. </h4>
		<form id="additional-form">
			<fieldset id="enc" class="radio">
				<legend>Please indicate who encouraged you to study in Hungary</legend>
				<div class="clearfix">
					<div class="half">
							<label for="">Students who previously studied in Hungary <input type="checkbox" name="encourage_friends" id="" /></label>
						</div>
						<div class="half">
							<label for="">Parent <input type="checkbox" name="encourage_parent" id="encourage-parent" /></label>
						</div>
				</div>
			</fieldset>
			<fieldset>
				<div class="tarea">
					<label>Other</label>
					<textarea cols="60" rows="10" name="other-encourage"></textarea>
				</div>
			</fieldset>
			<fieldset id="hea" class="radio">
				<legend>Please indicate where did you hear from us</legend>
				<div>
					<div class="half">
							<label for="ad">Advertisment <input type="checkbox" name="hear_ad" id="ad" /></label>
						</div>
						<div class="half">
							<label for="google">I googled <input type="checkbox" name="hear_google" id="google" /></label>
						</div>
						<div class="half">
							<label for="agent">Agent <input type="checkbox" name="hear_agent" id="agent" /></label>
						</div>
						<div class="half">
							<label for="brochure">Brochure <input type="checkbox" name="hear_brochure" id="brochure" /></label>
						</div>
						<div class="half">
							<label for="openday">Open day <input type="checkbox" name="hear_openday" id="openday" /></label>
						</div>
				</div>
			</fieldset>
			<fieldset>
				<div class="tarea">
					<label>Other</label>
					<textarea cols="60" rows="10" name="other-hear"></textarea>
				</div>
			</fieldset>
			<%= submit_tag "Send", :id => "submit2", :name => "submit2", :disabled => false, :disable_with => "Sending..." %>
		</form>
	</div>
	<div class="box twothird dark-green" id="thankyou">
		<h4>Thank you!</h4>
		<p>Your answers are greatly appreciated.</p>
	</div>
</section>