<section id="content" class="clearfix">
	<div class="box white-purple twothird">
		<h3>Essentials</h3>
		<p class="left">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor.
		</p>
		<p class="left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor.</p>
	</div>
	<div id="topics" class="third box dark-purple">
		<h4>Topics</h4>
		<ul>
			<li>
				<a href="#visa">Visa</a>
			</li>
			<li>
				<a href="#topic-2">Topic 2</a>
			</li>
			<li>
				<a href="#topic-3">Topic 3</a>
			</li>
			<li>
				<a href="#topic-3">Topic 3</a>
			</li>
			<li>
				<a href="#topic-3">Topic 3</a>
			</li>
			<li>
				<a href="#topic-3">Topic 3</a>
			</li>
		</ul>
	</div>
	<div id="visa" class="clearfix">
		<div class="box third dark-purple">
			<h3>Visa</h3>
			<p>These are the necessary steps for you to get a visa.</p>
		</div>
		<div class="box twothird white">
			<ol>
				<li>Visa application form <p>Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor.</p></li>
				<li>Visa application form <p>Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor.</p></li>
				<li>Visa application form <p>Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor.</p></li>
				<li>Visa application form <p>Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor.</p></li>
				<li>Visa application form <p>Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor.</p></li>
				<li>Visa application form <p>Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor.</p></li>
				<li>Visa application form <p>Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt. Nam at sapien enim, quis vestibulum tortor.</p></li>
				
			</ol>
		</div>
	</div>
</section>