<section id="content" class="clearfix">
	<div class="step first">
		<h3>
			<span class="num">1</span> Application
		</h3>
		<p>First fill out the <a href="/offer">application form</a> which is needed for us to give you a detailed answer. Then you will receive a quotation from us which contains all the necessary information for you, and includes our services. </p>
	</div>
	<div class="step second">
		<h3>
			<span class="num">2</span> Quotation
		</h3>
		<p>Contains the package price and the further instructions. You will be able to see the detailed services and get a brighter picture of the process as well.</p>
	</div>
	<div class="step third">
		<h3>
			<span class="num">3</span> Choosing university
		</h3>
		<p>At this stage you have to decide which <a href="/universities">university</a> do you want to apply for and which course do you want to attend. Of course we provide consultancy for this decision, we would like you to make a perfect decision, so we give our best to you.</p>
	</div>
	<div class="step fourth">
		<h3>
			<span class="num">4</span> Application for the course
		</h3>
		<p>Here you have to fill out an application form for the the university application, which will be directly sent to the chosen university. </p>
	</div>
	<div class="step fifth">
		<h3>
			<span class="num">5</span> Tuition fee payment
		</h3>
		<p>The payment of the tuition fee has to be done according to the chosen university’s regulations. A detailed email will be sent to you containing all the essential information related to the payment.</p>
	</div>
	<div class="step sixth">
		<h3>
			<span class="num">6</span> Visa
		</h3>
		<p>The next step is the <a href="/essentials#visa">visa</a> issuance where we provide you all the information you will need. Our agency provides a great opportunity to you regarding the visa issuance. An authorization letter should be written to us, so we will be able to act in Hungary on behalf of you. </p>
	</div>
	<div class="step seventh">
		<h3>
			<span class="num">7</span> Flight ticket purchase
		</h3>
		<p>Choose the flight you would like to come to Hungary and reserve the ticket, which will be needed for the visa application.  We recommend you to choose a date which is way earlier than the kick off of the semester.</p>
	</div>
	<div class="step eighth">
		<h3>
			<span class="num">9</span> Arrival to Hungary
		</h3>
		<p>Nothing else is left but to catch your flight, take off. Depending on the package you chose, we are going to be waiting for you at the airport, or you could use a taxi or bus to get in to the city center.</p>
	</div>
	<div class="step ninth">
		<h3>
			<span class="num">9</span> Enjoy the uTransfer experience
		</h3>
		<p>After your arrival you will start your Hungarian journey with uTransfer, we will provide you everything and we will do everything in order to make you feel at home and to have the best experience of your life.</p>
	</div>
</section>