<section id="content" class="clearfix">
	<div id="about-utransfer" class="box twothird white justify">
		<h3>About uTransfer</h3>
		<p>uTransfer Europe Ltd. has been founded with the intention of <strong>helping foreign students to start their university studies in Hungary.</strong>uTransfer Europe decided to broaden the opportunities for students to study abroad and to give a hand to this huge step. <em>We exist to help students.</em> </p>
		<p>We take a unique approach to assist students and help them to study in a foreign country. Through <strong>personalized assistance process</strong>, we provide all the necessary information in order to make the students life easier and more comfortable in Hungary.</p>
	</div>
	<div id="about-center">
		
	</div>
	<div id="about-peter" class="about">
		<h3>Péter Palicz</h3>
		<p>After finished my university studies at <em>Oxford Brookes University</em> where I graduated from marketing and received an <abbr title="International Advertising Associsation">IAA</abbr> certificate I decided to put my theoretical knowledge into practice. That was the point when we <strong>came up with the idea</strong> of a company where we could exploit, not just marketing knowledge but everything.</p>
	</div>
	<div id="about-gan" class="about">
		<h3>Gan Quan</h3>
		<p>After finishing my studies in Hungary, I moved to the field of export and I worked for an international company or more than a year. That was the point when Peter and me figured out that we want to do something else. So we had founded uTransfer Europe Ltd. with the intention of <strong>creating a unique business</strong> which gives services to students.</p>
	</div>
</section>