<section id="content" class="clearfix">
	<div id="about-utransfer" class="box third white">
		<h3>About uTransfer</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer imperdiet mauris eu turpis euismod rutrum dapibus vitae neque. Suspendisse potenti. Mauris eu erat et sapien posuere bibendum at fermentum purus. Fusce molestie ultrices tortor sed tincidunt.</p>
		<p>Nam at sapien enim, quis vestibulum tortor. Pellentesque et leo nulla, nec vulputate nulla. Sed blandit quam eu dolor viverra ac suscipit est sollicitudin. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
	</div>
	<div id="about-center">
		
	</div>
	<div id="about-peter" class="about">
		<h3>Péter Palicz</h3>
		<p>After finished my university studies at <em>Oxford Brookes University</em> where I graduated from marketing and received an <abbr title="International Advertising Associsation">IAA</abbr> certificate I decided to put my theoretical knowledge into practice. That was the point when we <strong>came up with the idea</strong> of a company where we could exploit, not just marketing knowledge but everything.</p>
	</div>
	<div id="about-gan" class="about">
		<h3>Gan Quam</h3>
		<p>After finishing my studies in Hungary, I moved to the field of export and I worked for an international company or more than a year. That was the point when Peter and me figured out that we want to do something else. So we had founded uTransfer Europe Ltd. with the intention of <strong>creating a unique business</strong> which gives services to students.</p>
	</div>
</section>