<section id="content" class="clearfix">
	<div class="third-wrap">
		<div class="box third gray" id="contact-info">
			<h3>Contact info</h3>
			<h4>Péter Palicz</h4>
			<ul>
				<li><strong>Email:</strong> <a href="mailto:ppalicz@utransferhungary.com">ppalicz@utransferhungary.com</a></li>
				<li><strong>Tel.:</strong> +36-30-123-1234 </li>
			</ul>
			<h4>Péter Palicz</h4>
			<ul>
				<li><strong>Email:</strong> <a href="mailto:ppalicz@utransferhungary.com">ppalicz@utransferhungary.com</a></li>
				<li><strong>Tel.:</strong> +36-30-123-1234 </li>
			</ul>
		</div>
		<div class="box third gray" id="company-info">
			<h3>Company info</h3>
			<ul>
				<li><strong>Company name:</strong> uTransfer Europe Ltd.</li>
				<li><strong>Address:</strong> Ipar utca 7, Budapest, 1095, Hungary</li>
				<li><strong>Tax number:</strong> 23706776-1-43</li>
				<li><strong>IBAN:</strong> HU48117422832003840900000000</li>
				<li><strong>SWIFT:</strong> OTPV-HU-HB</li>
			</ul>
		</div>
	</div>
	<div class="box twothird dark-purple">
		<h3>Get in touch right now!</h3>
		<form id="contact-form" action="#">
			<fieldset>
				<label for="name">Name</label>
				<input autofocus type="text" name="name" id="name" class="required" />
				<label for="email">Email address</label>
				<input type="email" name="email" id="email" class="required email" />
				<div class="select-wrap">
					<label for="type">Whatsup?</label>
					<select name="type" id="type">
						<option value="">1</option>
						<option value="">2</option>
						<option value="">3</option>
					</select>
				</div>
				<label for="message">Message</label>
				<textarea class="required" name="message" id="message" cols="60" rows="10"></textarea>
			</fieldset>
			<%= submit_tag "Send", :id => "submit", :name => "submit", :disabled => false, :disable_with => "Sending..." %>
		</form>
	</div>
	<div class="box twothird dark-green" id="thankyou">
		<h4>Thank you!</h4>
		<p>We'll answer soon.</p>
	</div>
</section>