@import '_mixins.css.scss';

input[type='text'],input[type='tel'],input[type='email'],input[type='number']{
	border:1px solid #8f8f8f;
	height:16px;
	padding:2px;
}

textarea{
	padding:2px;
	border:1px solid #8f8f8f;
	resize:vertical;
}

.button{
	border:none;
	cursor:pointer;
}
form h4{
	margin:40px 0 20px 0 !important;
	border-bottom:1px dotted #BABABA;
}

fieldset{
	margin:20px 0;
	padding:0;
	border:none;
	.half{
		float:left;
		margin-right:10px;
	}
}

label,legend{
	display:block;
	color:$brand-purple;
	margin-right:5px;
	margin-bottom:5px;
	a{
		color:$brand-green;
	}
}

label.error{
	color:red !important;
	font-style:italic;
	border:none;
	font-size:12px;
	margin-top:5px;
	display:block !important;
}

.select-wrap{
	margin-bottom:20px;
}
