
$border-gray: #d9d9d9;
$background-gray: #f2f2f2;

$brand-purple: #554595;
$brand-green: #84A219;

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

@mixin clearfix{
	@extend .clearfix;
}

@mixin border_radius($tl: 5px, $tr: 5px, $br: 5px, $bl: 5px) {
  -moz-border-radius: $tl $tr $br $bl;
  -webkit-border-top-left-radius: $tl;
  -webkit-border-top-right-radius: $tr;
  -webkit-border-bottom-right-radius: $br;
  -webkit-border-bottom-left-radius: $bl;
  border-radius: $tl $tr $br $bl;
 -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

@mixin background-gradient($startColor: #3C3C3C, $endColor: #999999, $image: none) {
    background: $startColor;
    background: $image, -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
    background: $image, -webkit-linear-gradient(top, $startColor, $endColor);
    background: $image,   -moz-linear-gradient(top, $startColor, $endColor);
    background: $image,    -ms-linear-gradient(top, $startColor, $endColor);
    background: $image,     -o-linear-gradient(top, $startColor, $endColor);
    background: $image,        linear-gradient(top, $startColor, $endColor);
}

@mixin dark-purple-gradient($image: none){
	@include background-gradient(#5E4DA5,#493B80,$image);
}

@mixin dark-green-gradient($image: none){
	@include background-gradient(#84A219,#92B41C,$image);
}

@mixin light-green-gradient($image: none){
	@include background-gradient(#9DBB31,#90AB2F,$image);
}

@mixin orange-gradient($image: none){
	@include background-gradient(#f25d23,#dd5520,$image);
}

@mixin orange-gradient-hover($image: none){
	@include background-gradient(#ec7f36,#dd5520,$image);
}


@mixin submit{
		font-size: 12px;
		color: #554595;
		padding: 8px 16px;
		@include border-radius(20px,20px,20px,20px);
		@include background-gradient(#fff,#e0e0e0);
		border: 0px solid #171717;
		
		-moz-box-shadow:
			1px 1px 3px rgba(000,000,000,0.2),
			inset 0px -1px 3px rgba(087,087,087,0.7);
		-webkit-box-shadow:
			1px 1px 3px rgba(000,000,000,0.2),
			inset 0px -1px 3px rgba(087,087,087,0.7);
		box-shadow:
			1px 1px 3px rgba(000,000,000,0.2),
			inset 0px -1px 3px rgba(087,087,087,0.7);
	
		text-shadow:
			0px -1px 0px rgba(000,000,000,0.4),
			0px 1px 0px rgba(255,255,255,0.3);
		
		@include transition-03s;
			
		&:hover,&:focus{
			color: #02010a;
			@include background-gradient(#fff,#fff);	
		}
		
		&:active{
			@include background-gradient(#e0e0e0,#fff);
			border: 0px solid #171717;
			-moz-box-shadow:
				1px 1px 3px rgba(255,255,255,0.7),
				inset 0px 1px 3px rgba(087,087,087,0.7);
			-webkit-box-shadow:
				1px 1px 3px rgba(255,255,255,0.7),
				inset 0px 1px 3px rgba(087,087,087,0.7);
			-webkit-box-shadow:
				1px 1px 3px rgba(255,255,255,0.7),
				inset 0px 1px 3px rgba(087,087,087,0.7);
		}
}


@mixin transition-03s{
	-webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}

@mixin font-helvetica{
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

@mixin font-raleway{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight:300;
}

@mixin cupid-black {
  color: #333333;
  @include font-raleway;
  font-size:18px;
  padding:0 10px; 
  height:32px;
  line-height:30px;
  border:1px solid transparent;
  text-align: center;
  &:hover, &.active, &:focus {
	@include background-gradient(#73736A, #40403C);
	@include border-radius(20px,20px,20px,20px);
	border: 1px solid #333;
    color: white;
    cursor: pointer;
  }
  &:active {
    border: 1px solid #8c98a7;
  }
}

@mixin cta-button ($color:#333,$background:white){
	display:block;
	text-decoration:none;
	font-size:13px;
	height:30px;
	line-height:30px;
	@include border-radius(20px,20px,20px,20px);
	padding:0 20px;
	color:$color;
	background:$background;
	@include transition-03s;
	&:hover,&:focus{
		box-shadow: inset 1px 1px 9px -1px #242b07;
	}
}

.dark-green .button,.light-green .button{
	@include cta-button(#fff,#748E15);
	border:1px solid #637811;
	&:hover,&:focus{
		color:#eee;
	}
}

.dark-purple .button, .light-purple .button{
	@include cta-button(#fff,#24195e);
	border:1px solid #24195e;
	&:hover,&:focus{
		color:#eee;
		box-shadow: inset 1px 1px 9px -1px #000;
	}
}

.white .button,.gray .button{
	@include cta-button(#fff,$brand-purple);
	border:1px solid #24195e;
	&:hover,&:focus{
		color:#eee;
		box-shadow: inset 1px 1px 9px -1px #000;
	}
	
}