@import '_mixins.css.scss';

#about-utransfer{
	margin:0 auto;
	float:none;
	font-size:12px;
	p{
		color:$brand-purple;
	}
	h3{
		color:$brand-purple;
		margin-top:0 !important;
	}
}

#about-center{
	width:935px;
	background:url(about_logo.png) no-repeat center;
	height:416px;
}

.about{
	overflow:hidden;
	padding:20px;
	width:427.5px;
	float:left;
	h3{
		color:$brand-purple;
		font-size:28px;
		margin:0 0 20px 0;
	}
	p{
		color:$brand-purple;
		font-size:12px;
		line-height:1.5;
		width:245px;
		background:white;
		background:rgba(255,255,255,0.9);
		@include border-radius(20px,20px,20px,20px);
	}
}

#about-peter{
	background:url(about/Peter.jpg) no-repeat center left;
	text-align:right;
	p{
		float:right;
	}
}

#about-gan{
	background:url(about/Gan.jpg) no-repeat center right;
	text-align:left;
	p{
		float:left;
	}
}

.justify{
	text-align:justify;
	p{
		margin:10px 0;
	}
}