@import '_mixins.css.scss';
@import '_form.css.scss';

label{
	color:#554595;;
}

input[type="text"],input[type="email"]{
	margin-bottom:20px;
	background:white;
	width:200px;
}

textarea{
	margin-bottom:20px;
	background:white;
}

textarea,input[type="text"],input[type="email"]{
	&:focus{
		background:white;
	}
}


input[type="submit"]{
	@include submit;
}

label.error{
	margin-top:-15px;
}

#contact-info{
	li{
		list-style:none;
	}
	h4{
		margin:20px 0;
	}
}

#company-info{
	height:182px;
	li{
		list-style:none;
	}
}

#contact-form{
	height:458px;
}