@import '_mixins.css.scss';

#approach{
	h3{
		color:$brand-green;
	}
}

#service-image{
	text-align:center;
	img{

	}
}


#personal-needs .box{
	height:124px;
}

#personalized-brochure .box{
	height:124px;
}

#visa-procedure .box{
	height:181px;
}

#local-community .box{
	height:181px;
}