@import 'anythingslider.css';
@import 'jquery.fancybox.css';
@import '_mixins.css.scss';

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #aaa;
	background-color: white;
	padding: 5px;
	opacity: 0.85;
	font-size:12px;
}
#tooltip h3, #tooltip div { margin: 0; }

#hungary-intro{
	h3,p{
		color:$brand-purple;
	}
}

#photo{
	margin-bottom:-29px;
}

#photo img{
	position: relative;
	z-index: 3;
}

#under-photo{
	width:945px;
	position:relative;
	z-index:4;
}

#why .box{
	height:350px;
}

table{
	.left{
		float:left;
	}
	.info{
		float:right;
		color:white;
	}
	float:left;
	width:100%;
	margin:5px;
	thead{
		th{
			border-right:5px solid white;
			color:white;
			background:$brand-purple;
			&.last{
				border-right:10px solid white;
			}
			&.big{
				border-right:10px solid white;
				font-size:28px;
				margin-bottom:40px;
				@include dark-purple-gradient;
				width:265px;
				padding:20px;
				text-align:left;
			}
		}
	}
	tbody{
		tr{
			border-top:5px solid white;
		}
		td{
			font-size:13px;
			border-right:5px solid white;
			padding:20px;
			background:$background-gray;
			text-align:center;
			vertical-align:center;
			&.last{
				border-right:10px solid white;
			}
		}
		.head{
			background:$brand-purple;
			color:white;
			text-align:left;
			padding:20px;
			border-right:10px solid white;
			font-size:16px;
			overflow:hidden;
		}
	}
}

.lt-ie9 #quote{
	h4{
		font-size:20px !important;
	}
}

.lt-ie8{
	#photo{
		margin-bottom:15px;
	}
}

#festival-slider{
	width:885px;
	position:relative;
	margin:55px 5px 30px 5px;
	.anythingSlider{
		margin:0 !important;
		padding:0 !important;
		top:25px;
	}
	.anythingControls{
		position:absolute;
		top:-20px;
		@include font-raleway;
		font-size:28px;
		width:935px;
		li{
			margin-right:10px;
			float:left;
		}
		li a{
			height:45px;
			line-height:45px;
			background:$background-gray;
			float:left;
			text-decoration:none;
			min-width:100px;
			color:black;
			text-align:center;
			display:block;
			&.cur{
				@include dark-purple-gradient;
				color:white;
			}
		}
	}
	ul{
		width:935px;
		list-style:none;
		padding:0;
		margin:0;
	}
	li{
		height:350px !important;
		margin:0;
		padding:0;
		.caption{
			z-index:2;
			font-size:12px;
			position:absolute;
			padding:20px;
			width:895px;
			color:white;
			background:$brand-purple;
			background: rgba(85,69,149,0.8);
		}
	}
}

#famous-hungarians{
	height:268px;
	overflow:hidden;
	h4{
		margin-bottom:10px;
	}
	h3{
		padding-left:20px;
	}
	padding-left:0;
	padding-right:0;
	width:935px;
	.hungarian{
		float:left;
		width:271px;
		height:200px;
		padding:0 20px;
	}
	padding-bottom:0;
}

#hung{
	h3{
		margin-bottom:10px;
		margin-left:0;
	}
	p{
		margin-bottom:30px;
	}
}

.hungaricum{
	position:relative;
	margin:0 14px;
	display:block;
	float:left;
	width:150px;
	h5{
		display:block;
		padding:30px 10px 10px 10px;
		height:55px;
		width:130px;
		line-height:1;
		@include dark-green-gradient;
		color:white !important;
		@include font-raleway;
		font-size:19px;
		margin:0;
	}
}

.caption p{
	line-height:1.5;
}

#quote{
	h4{
		margin-top:20px;	
	}
	em{
		color:white;
		font-size:12px;
	}
}

#why{
	p{
		margin-bottom:10px;
	}
}

#neumann{
	background:url(neumann.png) no-repeat bottom right;
}

#szent-gyorgyi{
	background:url(szentgyorgyi.png) no-repeat bottom right;	
}

#puskas{
	background:url(puskas.png) no-repeat bottom right;
}



/*MÉRET IGAZÍTÁSOK*/

#hung h3.purple{
	margin-top:50px !important;
}

#basic,#quote{
	height:256px;
}

#gastro .third{
	height:310px;
}

#history{
	.box{
		height:280px;
	}
}

#travel-wrap{
	.box.dark-green,.box.light-green{
		height:265px
	}	
	height:630px;
}

#sights-wrap{
	width:945px;
}

#sights{
	height:265px;
}

#sights-wrap{
	height:315px;
}