@import '_mixins.css.scss';
@import '_form.css.scss';


.radio,.selects,#tel{
	legend{
		margin-left:0;
	}
	div{
		padding-top:5px;
	}
	div.half{
		padding-top:0;
	}
	label{
		color:black;
		display:inline;
		margin-left:5px;
	}
}

#tel,#gender,#uni,#type,#exact-uni,#interests{
	label{
		font-size:12px;
		color:#89897F;
	}
}

#phone-country,#age{
	width:35px;
}

.uni-no,.uni-yes{
	display:none;
}
