@import '_mixins.css.scss';
@import '_form.css.scss';


.radio,.selects,#tel{
	legend{
		margin-left:0;
	}
	div{
		padding-top:5px;
	}
	div.half{
		padding-top:0;
	}
	label{
		color:black;
		display:inline;
		margin-left:5px;
	}
}

#tel,#gender,#uni,#type,#exact-uni,#interests,#enc,#hea{
	label{
		font-size:12px;
		color:#89897F;
	}
}

#enc,#hea{
	label{
		color:white;
	}
}

#phone-country,#age{
	width:35px;
}

.uni-no,.uni-yes{
	display:none;
}

input[type="submit"]{
	@include submit;
}

.submit{
	border-top:1px dotted #BABABA;
	padding-top:20px;
}

.tarea{
	label{
		color:white;
		font-size:12px;
	}
}

#additional,#thankyou{
	display:none;
}

#thankyou{
	height:106px;
}

