@import '_mixins.css.scss';


.step{
	margin:0 5px;
	padding:20px;
	width:417px;
	float:left;
	.num{
		display:block;
		float:left;
		width:45px;
		height:45px;
		text-align:center;
		line-height:45px;
		@include border-radius(90px,90px,90px,90px);
		color:white;
		margin:0 5px;
	}
	h3{
		height:45px;
		line-height:45px;
	}
	p{
		padding:20px;
		font-size:12px;
	}
	&.first{
		color:$brand-purple;
		.num{
			background:$brand-purple;
		}
	}
	&.second{
		margin-top:40px;
		color:#834690;
		.num{
			background:#834690;
		}
	}
	&.third{
		margin-top:40px;
		color:#984564;
		.num{
			background:#984564;
		}	
	}
	&.fourth{
		margin-top:60px;
		color:#96784c;
		.num{
			background:#96784c;
		}	
	}
	&.fifth{
		margin-top:40px;
		color:#7b9450;
		.num{
			background:#7b9450;
		}	
	}
	&.sixth{
		margin-top:60px;
		color:#3d9551;
		.num{
			background:#3d9551;
		}	
	}
	&.seventh{
		margin-top:40px;
		color:#3d958e;
		.num{
			background:#3d958e;
		}	
	}
	&.eighth{
		margin-top:60px;		
		color:#436991;
		.num{
			background:#436991;
		}	
	}
	&.ninth{
		margin-top:40px;		
		color:$brand-purple;
		.num{
			background:$brand-purple;
		}	
	}
}