@import '_mixins.css.scss';
@import '_animation.css';
@import 'jquery.fancybox.css';

.anythingControls{
	display:none !important;
}

#testimonial-slider-wrap{
	overflow:hidden;
	width:100%;
	height:280px;
	padding-top:20px;
	background:#ededed;
	-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
	box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
	h1{
		width:945px;
		padding-left:15px;
		margin:0px auto 20px auto;
		color:$brand-purple;
		font-size:30px;
		.sub{
			font-size:20px;
			@include font-raleway;
		}
	}
	ul{
		height:220px;
		width:955px; /*955 a max két 40px nyíl + 2*10px margó*/
		margin:0 auto;
	}
	li{
		/*margin:0 auto;*/
		//@include clearfix;
		/*width:960px;*/
		height:220px; 
		list-style:none;
		a{
			display:block;
			float:left;
			margin:0 85px;
			margin-top:20px;
			position:relative;
			text-decoration:none;
			color:black;
			font-size:24px;
			@include font-raleway;
			text-align:center;
			@include transition-03s;
			text-align:center;
			&:hover{
				color: $brand-purple;
				margin-top:15px;
			}
			&.active{
				//background:url(slider_active.png) no-repeat bottom center;
				//border:1px solid $brand-purple;*/
				//@include border-radius(20px,20px,20px,20px);
				//padding:6px;
				.name{
					color:$brand-purple;
					text-decoration:underline;
				}
			}
		}
		.nationality{
			display:block;
			width:42px;
			height:41px;
			position:absolute;
			right:0;
			top:-10px;
			text-indent:-9999em;
			&.ukrainian{
				background: url(flags/ukr.png) no-repeat center;
			}
			&.angolan{
				background: url(flags/ang.png) no-repeat center;	
			}
			&.chinese{
				background: url(flags/chn.png) no-repeat center;	
			}
		}
		.name{
			display:block;
			margin-top:10px;
		}
	}
	ul{
		overflow:hidden;
	}
	
}

#cite{
	height:168px;
	cite,p{
		display:block;
		@include font-raleway;
		font-size:50px;
		color:white;
		line-height:1;
	}
	p{
		&:after{
			content: '\201D';
			font-weight:bold;
		}
		//&:before{
		//	content: '\201C';
		//	font-weight:bold;
		//}
	}
}

.lt-ie9{
	#cite{
		cite,p{
			font-size:30px;
		}
		p:after{
			content:"";
		}
	}
	#testimonial-slider-wrap a:hover{
		margin-top:20px;
	}
}

#about-person{
	@include font-raleway;
	b{
		font-family:Arial;
		font-weight:bold;
	}
}

#scholarship{
	height:128px;
	a{
		text-decoration:none;
		@include clearfix;
		img,p{
			float:left;
		}
		img{
			margin-right:5px;
		}
	}
}

#about-box,#experiences-box{
	height:315px;
}

#about-box p{
	line-height:1.5;
}

#photo{
	img{
		position:relative;
		z-index:3;
	}
}

#under-photo{
	position:relative;
	z-index:4;
}


.artemio-afonso{
	#under-photo{
		top:-170px;
		margin-bottom:-170px;
	}
	#photo img{
		top:-35px;
	}
}

.guo-dantong{
	#under-photo{
		top:-25px;
		margin-bottom:-25px;
	}
	#photo img{
		bottom:-10px;
		right:10px;
	}
}

.zhuang-chunlei{
	#under-photo{
		top:-25px;
		margin-bottom:-25px;
	}
	#photo img{
		bottom:-10px;
		right:110px;
	}
}

#experiences{
	height:265px;
}

#experiences-box p,#career p{
	text-align:justify;
}

#career{
	height:265px;
}