
@import 'anythingslider.css';
@import '_mixins.css.scss';
@import 'jquery.fancybox.css';

p.full{
	margin-top:10px;
}

div.anythingControls{
	display:none !important;
}

/* jQuery Countdown styles 1.5.11. */
.hasCountdown {

}
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {

}
.countdown_row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown_show1 .countdown_section {
	width: 98%;
}
.countdown_show2 .countdown_section {
	width: 48%;
}
.countdown_show3 .countdown_section {
	width: 32.5%;
}
.countdown_show4 .countdown_section {
	width: 24.5%;
}
.countdown_show5 .countdown_section {
	width: 19.5%;
}
.countdown_show6 .countdown_section {
	width: 16.25%;
}
.countdown_show7 .countdown_section {
	width: 14%;
}
.countdown_section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
}
.countdown_amount {
	font-size: 300%;
}
.countdown_descr {
	display: block;
	width: 100%;
}

#university-slider-wrap{
	overflow:hidden;
	width:100%;
	height:240px;
	padding-top:20px;
	background:#ededed;
	-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
	box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
	h1{
		font-size:30px;
		width:945px;
		padding-left:15px;
		margin:0px auto 20px auto;
		color:$brand-purple;
		.sub{
			font-size:20px;
			@include font-raleway;
		}
	}
	ul{
		height:135px;
		width:855px; /*955 a max két 40px nyíl + 2*10px margó*/
	}
	li{
		@include clearfix;
		width:960px;
		height:160px;
		a{
			width:240;
			display:block;
			float:left;
			margin:30px 10px;
			position:relative;
			text-decoration:none;
			color:black;
			font-size:24px;
			@include font-raleway;
			text-align:center;
			&:hover{
				color: $brand-purple;
				
			}
		}
		.speciality{
			display:block;
			width:42px;
			height:41px;
			position:absolute;
			right:0;
			top:-10px;
			text-indent:-9999em;
			&.engineering{
				background: url(specs/engineering.png) no-repeat center;
			}
		}
		.name{
			display:block;
			margin-top:10px;
		}
	}
	ul{
		overflow:hidden;
	}
	
}

#counter{
	@include dark-purple-gradient(url(clock.png) no-repeat 250px 20px);
}

#counter .button{
	@include submit;
	margin:28px auto;
	font-size:16px;
	width:100px;
	text-align:center;
}

#countdown{
	color:white;
}

#deadline{
	text-align:center;
	color:white;
	margin-top:28px;
	display:block;
	font-style:italic;
}

#faculty-grid{

}

#faculty-grid .box{
	overflow:hidden;
	height:225px;
	position:relative;
	.more-info{
		display:none;
	}
	&.open{
		position:absolute;
		z-index:2;
	}
	&.open .more-info{
		display:block;
	}
	a{
		position:absolute;
		bottom:20px;
		right:20px;
	}
	.close{

	}
}

.graduate{
	float:left;
	width:298px;
}

#international-relations{
	h3{
		margin-bottom:10px;
	}
	p{
		margin-bottom:30px;
	}
}

.relation{
	position:relative;
	margin-right:36px;
	&.last{
		margin-right:0;
	}
	display:block;
	float:left;
	width:150px;
	.country{
		display:block;
		width:42px;
		height:41px;
		position:absolute;
		left:55px;
		top:-20px;
		text-indent:-9999em;
		&.ukraine{
			background: url(flags/ukraine.png) no-repeat center;
		}
	}
	h5{
		display:block;
		padding:30px 10px 10px 10px;
		height:55px;
		width:130px;
		line-height:1;
		@include dark-green-gradient;
		color:white !important;
		@include font-raleway;
		font-size:19px;
		margin:0;
	}
}


.rightwrap{
	float:right;
}


/* COLUMN MÉRET IGAZÍTÁSOK */

#bsc,#msc,#phd{
	height:515px;
}

#counter{
	height:363px;
}


#campus{
	height:265px;
}