
@import 'anythingslider.css';
@import '_mixins.css.scss';
@import 'jquery.fancybox.css';

p.full{
	margin-top:10px;
}

div.anythingControls{
	display:none !important;
}

/* jQuery Countdown styles 1.5.11. */
.hasCountdown {

}
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {

}
.countdown_row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown_show1 .countdown_section {
	width: 98%;
}
.countdown_show2 .countdown_section {
	width: 48%;
}
.countdown_show3 .countdown_section {
	width: 32.5%;
}
.countdown_show4 .countdown_section {
	width: 24.5%;
}
.countdown_show5 .countdown_section {
	width: 19.5%;
}
.countdown_show6 .countdown_section {
	width: 16.25%;
}
.countdown_show7 .countdown_section {
	width: 14%;
}
.countdown_section {
	display: block;
	float: left;
	font-size: 75%;
	text-align: center;
}
.countdown_amount {
	font-size: 300%;
}
.countdown_descr {
	display: block;
	width: 100%;
}

#university-slider-wrap{
	overflow:hidden;
	width:100%;
	height:280px;
	padding-top:20px;
	background:#ededed;
	-webkit-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
	box-shadow: inset 0px 0px 10px 1px rgba(0, 0, 0, 0.8);
	h1{
		font-size:30px;
		width:945px;
		padding-left:15px;
		margin:0px auto 20px auto;
		color:$brand-purple;
		.sub{
			font-size:20px;
			@include font-raleway;
		}
	}
	ul{
		margin:0 auto;
		height:220px;
		width:955px; /*955 a max két 40px nyíl + 2*10px margó*/
	}
	li{
		@include clearfix;
		a{
			width:240;
			display:block;
			float:left;
			margin:0px 6px;
			position:relative;
			text-decoration:none;
			color:black;
			font-size:24px;
			@include font-raleway;
			@include transition-03s;
			text-align:center;
			&:hover{
				color: $brand-purple;
				margin-top:-5px;
			}
			&.active{
				background:url(slider_active.png) no-repeat bottom center;
			}
			img{
				
			}
		}
		.speciality{
			display:block;
			width:42px;
			height:41px;
			position:absolute;
			right:0;
			top:-10px;
			text-indent:-9999em;
			&.engineering{
				background: url(specs/engineering.png) no-repeat center;
			}
		}
		.name{
			display:block;
			margin-top:10px;
		}
	}
	ul{
		overflow:hidden;
	}
	
}

#counter{
	@include dark-purple-gradient(url(clock.png) no-repeat 250px 20px);
}

#counter .button{
	@include submit;
	margin:28px auto;
	font-size:16px;
	width:100px;
	text-align:center;
}

#countdown{
	color:white;
}

#deadline{
	text-align:center;
	color:white;
	margin-top:28px;
	display:block;
	font-style:italic;
}

#faculty-grid{

}

#faculty-grid .box{
	overflow:hidden;
	height:225px;
	position:relative;
	.more-info{
		display:none;
	}
	&.open{
		position:absolute;
		z-index:2;
	}
	&.open .more-info{
		display:block;
	}
	a{
		position:absolute;
		bottom:20px;
		right:20px;
	}
	.close{

	}
}

#graduates{
	h4{
		margin-bottom:10px;
	}
	h3{
		padding-left:20px;
	}
	padding-left:0;
	padding-right:0;
	width:935px;
}

.graduate{
	float:left;
	width:271px;
	height:200px;
	padding:0 20px;
}

#international-relations{
	h3{
		margin-bottom:10px;
	}
	p{
		margin-bottom:30px;
	}
}

.relation{
	position:relative;
	margin-right:36px;
	&.last{
		margin-right:0;
	}
	display:block;
	float:left;
	width:150px;
	.country{
		display:block;
		width:42px;
		height:41px;
		position:absolute;
		left:55px;
		top:-20px;
		text-indent:-9999em;
		&.ukraine{
			background: url(flags/ukraine.png) no-repeat center;
		}
	}
	h5{
		display:block;
		padding:30px 10px 10px 10px;
		height:55px;
		width:130px;
		line-height:1;
		@include dark-green-gradient;
		color:white !important;
		@include font-raleway;
		font-size:19px;
		margin:0;
	}
}


.rightwrap{
	float:right;
}

#connections{
	img{
		margin:10px;
	}
}

#graduates{
	padding-bottom:0;
}


#bsc,#msc,#phd{
	li{
		list-style-position: outside;
		margin-left:15px;
	}
}

#community{
		height:420px;
	}

/*Híres emberek */
.corvinus-university-of-budapest{
	#grad-1{
		background:url(universities/corvinus/akos.png) no-repeat bottom right;
	}
	
	#grad-2{
		background:url(universities/corvinus/beke.png) no-repeat bottom right;
	}

	#grad-3{
		background:url(universities/corvinus/agi.png) no-repeat bottom right;
	}
}


.international-business-school{
	#grad-1{
		background:url(universities/ibs/koko.png) no-repeat bottom right;
	}
	
	#grad-2{
		background:url(universities/ibs/zseda.png) no-repeat bottom right;
	}

	#grad-3{
		background:url(universities/ibs/aczel.png) no-repeat bottom right;
	}
}


/* COLUMN MÉRET IGAZÍTÁSOK */

.corvinus-university-of-budapest{
	#bsc,#msc,#phd{
		height:445px;
	}
	#counter{
		height:363px;
	}
	#campus{
		height:265px;
	}
	#community{
		height:420px;
	}
}

.budapest-university-of-technology-and-economics{
	#bsc,#msc,#phd{
		height:620px;
	}
	#counter{
		height:372px;
	}
	#campus{
		height:265px;
	}
}

.international-business-school{
	#bsc,#msc,#pre-school{
		height:420px;
	}
	#counter{
		height:306px;
	}
	#campus{
		height:265px;
	}
	#community{
		height:420px;
	}
}

.szent-istvan-university{
	#campus{
		height:265px;
	}
	#bsc,#msc,#phd{
		height:542px;
	}
	#counter{
		height:296px;
	}
}


.animated {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-ms-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}

.animated.hinge {
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	-ms-animation-duration: 2s;
	-o-animation-duration: 2s;
	animation-duration: 2s;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-ms-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	-moz-animation-name: fadeIn;
	-ms-animation-name: fadeIn;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-ms-keyframes fadeInUp {
	0% {
		opacity: 0;
		-ms-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-ms-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-ms-keyframes fadeInDown {
	0% {
		opacity: 0;
		-ms-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-ms-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-ms-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-ms-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-ms-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateX(0);
	}
}

@-o-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-ms-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes fadeInRight {
	0% {
		opacity: 0;
		-moz-transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-ms-keyframes fadeInRight {
	0% {
		opacity: 0;
		-ms-transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateX(0);
	}
}

@-o-keyframes fadeInRight {
	0% {
		opacity: 0;
		-o-transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(20px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	-moz-animation-name: fadeInRight;
	-ms-animation-name: fadeInRight;
	-o-animation-name: fadeInRight;
	animation-name: fadeInRight;
}
@-webkit-keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-moz-transform: translateY(2000px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-ms-keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-ms-transform: translateY(2000px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateY(0);
	}
}

@-o-keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-o-transform: translateY(2000px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUpBig {
	0% {
		opacity: 0;
		transform: translateY(2000px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInUpBig {
	-webkit-animation-name: fadeInUpBig;
	-moz-animation-name: fadeInUpBig;
	-ms-animation-name: fadeInUpBig;
	-o-animation-name: fadeInUpBig;
	animation-name: fadeInUpBig;
}
@-webkit-keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-ms-keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-ms-transform: translateY(-2000px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateY(0);
	}
}

@-o-keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDownBig {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDownBig {
	-webkit-animation-name: fadeInDownBig;
	-moz-animation-name: fadeInDownBig;
	-ms-animation-name: fadeInDownBig;
	-o-animation-name: fadeInDownBig;
	animation-name: fadeInDownBig;
}
@-webkit-keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
@-moz-keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}
@-ms-keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-ms-transform: translateX(-2000px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateX(0);
	}
}
@-o-keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}
@keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInLeftBig {
	-webkit-animation-name: fadeInLeftBig;
	-moz-animation-name: fadeInLeftBig;
	-ms-animation-name: fadeInLeftBig;
	-o-animation-name: fadeInLeftBig;
	animation-name: fadeInLeftBig;
}
@-webkit-keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-moz-transform: translateX(2000px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-ms-keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-ms-transform: translateX(2000px);
	}
	
	100% {
		opacity: 1;
		-ms-transform: translateX(0);
	}
}

@-o-keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-o-transform: translateX(2000px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes fadeInRightBig {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInRightBig {
	-webkit-animation-name: fadeInRightBig;
	-moz-animation-name: fadeInRightBig;
	-ms-animation-name: fadeInRightBig;
	-o-animation-name: fadeInRightBig;
	animation-name: fadeInRightBig;
}
